{% extends "layout.html" %}
{% block bodyBlock %}
{% from "includes/formhelpers.html" import render_field %}
<hr>
<h2>Sign Up</h2>
<small>Already Have An Account ? <a href="/login">Log In !</a></small>

<hr>

<form method = "post">
    <dl>
        {{ render_field(form.name, class = "form-control") }}
        {{ render_field(form.username, class = "form-control") }}
        {{ render_field(form.email, class = "form-control") }}
        {{ render_field(form.password, class = "form-control") }}
        {{ render_field(form.confirm, class = "form-control") }}
      </dl>
      <button type="submit" class="btn btn-dark">Register</button>
</form>
{% endblock  %}